<div class="navigation">
   <nav class="navba navbar-default">
      <div class="navbar-header">
         <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>            
      </div>
      <div class="collapse navbar-collapse js-navbar-collapse">
         <div class="col-md-1"></div>
         <div class="col-md-5">
            <ul class="nav navbar-nav"  style="margin-top: 10px">
               <li><%= link_to "HOME", home_path() %></li>
               <li class="dropdown mega-dropdown">
                  <%= link_to "PRODUCT", products_path() %>
                  <ul class="dropdown-menu mega-dropdown-menu">
                     <li class="col-sm-4">
                        <ul>
                           <li class="title-product">BRAND
                              <% @brand.each do |brand| %>
                           <li class="content-header"><%= link_to brand.name, products_path(brand_id: brand.id) %>
                           </li>
                           <% end %>
                           </li>
                        </ul>
                     </li>
                     <li class="col-sm-4">
                        <ul>
                           <li class="title-product">STYLE
                              <% @style.each do |style| %>
                           <li class="content-header"><%= link_to style.name, products_path(style_id: style.id) %></li>
                           <% end %>
                           </li> 
                        </ul>
                     </li>
                     <li class="col-sm-4">
                        <ul>
                           <li class="title-product">COLLECTION
                              <% @collection.each do |collection| %>
                           <li class="content-header"><%= link_to collection.name, products_path(collection_id: collection.id) %></li>
                           <% end %>
                           </li>                       
                        </ul>
                     </li>
                  </ul>
               </li>
               <li> <%= link_to "DESIGN", designs_path() , class: "active" %> </li>
               <li><%= link_to "ABOUT", abouts_path() %></li>
               <li><a href="/contacts">CONTACT</a></li>
            </ul>
         </div>
         <div class="col-md-6" style="padding-right: 75px;">
            <ul class="nav navbar-nav navbar-right">
               <li><a href="/cart">
                  <i class="fa fa-shopping-cart fa-lg " ></i>
                  </a>
               </li>
               <li>
                  <a class="account" href="<%= new_user_session_path %>"><i class="fa fa-user fa-lg"></i></a>
               </li>
               <li>
                  <a href="javascript:void(0);" style="margin-top: 5px;">
                     <div class="search_form" >
                        <%= form_tag(products_path, :method => "get", id: "search-form") do %>
                        <%= text_field_tag :search, params[:search], placeholder: "Search products" %>
                        <% end %>
                     </div>
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </nav>
</div>
<div class="main-design">
   <h2><b>Design bedroom for boys</b></h2>
   <p><b>e would like to introduce to you some bedroom designs for boys in modern style. You can refer to the idea of ​​redesigning the bedroom for your child in the most scientific way, according to the interests and personality of the baby as well as the area and space of the room.</b></p>
   <hr>
   <div>
      <h6>1| Dynamic Design</h6>
      <br>
      <img src="<%= asset_path('d3.jpg') %>">
      <h6>2| Elegant Design</h6>
      <br>
      <img src="<%= asset_path('d4.jpg') %>">
      <h6>3| Sleek Rooms</h6>
      <br>
      <img src="<%= asset_path('d6.jpg') %>">
      <h6>4| Bedroom boys Design</h6>
      <br>
      <img src="<%= asset_path('d19.jpg') %>">
      <h6>5| Elegant Design </h6>
      <br>
      <img src="<%= asset_path('d9.jpg') %>">
      <h6>6| Sleek Rooms</h6>
      <br>
      <img src="<%= asset_path('d10.jpg') %>">
      <h6>7| Dynamic Design</h6>
      <br>
      <img src="<%= asset_path('d11.jpg') %>">
      <img src="<%= asset_path('d8.jpg') %>">
   </div>
</div>