
.login {
  width: 100%;
  height: 515px;

  background-color: #ebe5e2;
}

.border {
  width: 100%;
  height: auto;
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;

  border: solid 2px #ebccd1;
  border-radius: 10px;
  background-color: white;
}

.border button {
  border-radius: 13px;
  background: #afeeee;
}

.form-group {
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;

  color: #696969;
}

.login-container h3 {
  margin-top: -1px;
   margin-bottom: 50px;
   color: #696969 ;
   padding-top: 30px;
   padding-left: 38px;
}

.submit {
  float: left;
}

.field label {
  font-size: 15px;
  line-height: 16px;

  padding-top: 10px;

  color: #898989;
}

.field input {
  font-size: 14px;
  font-weight: 400;

  display: block;

  width: 100%;
  height: 30px;
  margin: 0;
  margin-top: 20px;
  padding: 0 15px;

  color: #898989;
  border: 1px solid #d7dbdb;
  border-radius: 15px;
}

.email_field input {
  font-size: 14px;
  font-weight: 400;

  display: block;

  width: 100%;
  height: 30px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 15px;

  color: #898989;
  border: 1px solid #d7dbdb;
  border-radius: 15px;
}

.email_field label {
  font-size: 15px;
  line-height: 16px;

  color: #898989;
}

.actions-account input {
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;

  position: relative;

  max-width: 250px;
  height: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 0 20px;

  text-align: center;

  border: none;
  border-radius: 18px;
  border-radius: 18px;
  background: #abbda5;
}
a {
  font-size: 15px;
}

.login {
  margin-right: 40px;
}

.border .form-control {
  font-size: 14px;
  line-height: 1.42857143;

  display: block;

  width: 100%;
  height: 34px;
  padding: 6px 12px;

  color: #555;
  border: 1px solid #ccc;
  border-radius: 13px 13px 13px 13px;
  background-color: #fff;
  background-image: none;
}
