<div class="navigation">
   <nav class="navba navbar-default">
      <div class="navbar-header">
         <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>            
      </div>
      <div class="collapse navbar-collapse js-navbar-collapse">
         <div class="col-md-1"></div>
         <div class="col-md-5">
            <ul class="nav navbar-nav"  style="margin-top: 10px">
               <li><%= link_to "HOME", home_path() %></li>
               <li class="dropdown mega-dropdown">
                  <%= link_to "PRODUCT", products_path() %>
                  <ul class="dropdown-menu mega-dropdown-menu">
                     <li class="col-sm-4">
                        <ul>
                           <li class="title-product">BRAND
                              <% @brand.each do |brand| %>
                           <li class="content-header"><%= link_to brand.name, products_path(brand_id: brand.id) %>
                           </li>
                           <% end %>
                           </li>
                        </ul>
                     </li>
                     <li class="col-sm-4">
                        <ul>
                           <li class="title-product">STYLE
                              <% @style.each do |style| %>
                           <li class="content-header"><%= link_to style.name, products_path(style_id: style.id) %></li>
                           <% end %>
                           </li> 
                        </ul>
                     </li>
                     <li class="col-sm-4">
                        <ul>
                           <li class="title-product">COLLECTION
                              <% @collection.each do |collection| %>
                           <li class="content-header"><%= link_to collection.name, products_path(collection_id: collection.id) %></li>
                           <% end %>
                           </li>                       
                        </ul>
                     </li>
                  </ul>
               </li>
               <li> <%= link_to "DESIGN", designs_path() %> </li>
               <li><%= link_to "ABOUT", abouts_path() %></li>
               <li><a href="/contacts">CONTACT</a></li>
            </ul>
         </div>
         <div class="col-md-6" style="padding-right: 75px;">
            <ul class="nav navbar-nav navbar-right">
               <li><a href="/cart">
                  <i class="fa fa-shopping-cart fa-lg " ></i>
                  </a>
               </li>
               <li>
                  <a class="account" href="<%= new_user_session_path %>"><i class="fa fa-user fa-lg"></i></a>
               </li>
               <li>
                  <a href="javascript:void(0);" style="margin-top: 5px;">
                     <div class="search_form" >
                        <%= form_tag(products_path, :method => "get", id: "search-form") do %>
                        <%= text_field_tag :search, params[:search], placeholder: "Search products" %>
                        <% end %>
                     </div>
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </nav>
</div>
<%= form_for @order do |f| %>
<% if @order.errors.full_messages.any? %>
<div id="error_explanation">
   <h2>
      <%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:
   </h2>
   <ul>
      <% @order.errors.full_messages.each do |error_message| %>
      <%= error_message if @order.errors.full_messages.first == error_message %> <br />
      <li><%= message %></li>
      <% end %>
   </ul>
</div>
<% end %>
<% if flash[:error].present? %>
<div class="alert alert-danger"><%= flash[:error] %></div>
<% elsif flash[:info].present? %>
<div class="alert alert-info"><%= flash[:info] %></div>
<% end %>
<%= yield %>
<div class="payment">
   <h3> Your Information</h3>
   <br>
   <div class="col-md-2"></div>
   <div class=" col-md-8 payment-form">
      <div class="field-payment">
         <%= f.label :name %><br>
         <%= f.text_field :name, :size => 40 %>
      </div>
      <div class="field-payment">
         <%= f.label :address %><br>
         <%= f.text_field :address, :size => 40%>
      </div>
      <div class="field-payment">
         <%= f.label :email %><br>
         <%= f.text_field :email, :size => 40 %>
      </div>
      <div class="field-payment">
         <%= f.label :phone %><br>
         <%= f.text_field :phone, :size => 40 %>
      </div>
      <div class="field-payment">
         <%= f.label :pay_type %><br>
         <%= f.select :pay_type, Order.pay_types.map { |key, value| [key.humanize, key] }, :prompt => 'Select a payment method' %>
      </div>
      <div class="actions-payment">
         <%= f.submit 'Place order' %>
      </div>
   </div>
   <div class="col-md-2"></div>
   <% end %>
</div>