<div class="navigation">
   <nav class="navba navbar-default">
      <div class="navbar-header">
         <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>            
      </div>
      <div class="collapse navbar-collapse js-navbar-collapse">
         <div class="col-md-1"></div>
         <div class="col-md-5">
            <ul class="nav navbar-nav"  style="margin-top: 10px">
               <li><%= link_to "HOME", home_path() %></li>
               <li class="dropdown mega-dropdown">
                  <%= link_to "PRODUCT", products_path() %>
                  <ul class="dropdown-menu mega-dropdown-menu">
                     <li class="col-sm-4">
                        <ul>
                           <li class="title-product">BRAND
                              <% @brand.each do |brand| %>
                           <li class="content-header"><%= link_to brand.name, products_path(brand_id: brand.id) %>
                           </li>
                           <% end %>
                           </li>
                        </ul>
                     </li>
                     <li class="col-sm-4">
                        <ul>
                           <li class="title-product">STYLE
                              <% @style.each do |style| %>
                           <li class="content-header"><%= link_to style.name, products_path(style_id: style.id) %></li>
                           <% end %>
                           </li> 
                        </ul>
                     </li>
                     <li class="col-sm-4">
                        <ul>
                           <li class="title-product">COLLECTION
                              <% @collection.each do |collection| %>
                           <li class="content-header"><%= link_to collection.name, products_path(collection_id: collection.id) %></li>
                           <% end %>
                           </li>                       
                        </ul>
                     </li>
                  </ul>
               </li>
               <li> <%= link_to "DESIGN", designs_path() %> </li>
               <li><%= link_to "ABOUT", abouts_path() %></li>
               <li class="active"><a href="/contacts">CONTACT</a></li>
            </ul>
         </div>
         <div class="col-md-6" style="padding-right: 75px;">
            <ul class="nav navbar-nav navbar-right">
               <li><a href="/cart">
                  <i class="fa fa-shopping-cart fa-lg " ></i>
                  </a>
               </li>
               <li>
                  <a class="account" href="<%= new_user_session_path %>"><i class="fa fa-user fa-lg"></i></a>
               </li>
               <li>
                  <a href="javascript:void(0);" style="margin-top: 5px;">
                     <div class="search_form" >
                        <%= form_tag(products_path, :method => "get", id: "search-form") do %>
                        <%= text_field_tag :search, params[:search], placeholder: "Search products" %>
                        <% end %>
                     </div>
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </nav>
</div>
<div class="content-contact">
   <div class="contatc-p">
      <p> Contact Us</p>
   </div>
   <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.679085463462!2d108.21864715005346!3d16.030212688850582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219f1e29f6ab7%3A0x6fa4b427bc29a545!2zTMOqIE7hu5UsIEjhuqNpIENow6J1LCDEkMOgIE7hurVuZywgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1491467264391"  allowfullscreen></iframe>
   </div>
   <div class="container-contact">
      <div class="container">
         <div class="col-md-6">
            <div class="information-contact">
               <b> INFORMATION</b>
               </br>
               <hr>
               <p>
                  We appreciate you taking the time to visit our store today!  If you have any questions about any of our products, please feel free to contact us.  You may use the form to the right or you can get in touch using the information below.
               </p>
               <p>
                  I find your lack of faith disturbing. She must have hidden the plans in the escape pod. Send a detachment down to retrieve them, and see to it personally, Commander. There'll be no one to stop us this time! I need your help, Luke. She needs your help. I'm getting too old for this sort of thing.
               </p>
               <ul>
                  <li>
                     Don't act so surprised, Your Highness. You weren't on any mercy mission this time. Several transmissions were beamed to this ship by Rebel spies. I want to know what happened to the plans they sent you.
                  </li>
               </ul>
               <p>
                  <b>Funiture</b>
               </p>
               <p>
                  37 Le No-Da Nang
               </p>
               <P>
                  <b>Phone</b>: 0986969052
               </P>
               <p>
                  <b>Email</b>: <a href="https://mail.google.com/mail/u/0/#inbox">huyenta2905@gmail.com</a>
               </p>
            </div>
         </div>
         <%= form_for @contact do |f| %>
         <div class="col-md-6">
            <div class="contact col-md-12">
               <b> CONTACT US </b>
               </br>
               <hr>
               <div class="col-md-6">
                  <div class="form-group-contact">
                     <label for="name"> <%= f.label :name %></label>
                     <input type="name" class="form-control" id="name" placeholder="">
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group-contact">
                     <label for="email"> <%= f.label :email %></label>
                     <input type="email" class="form-control" id="email" placeholder="">
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group-contact">
                     <label for="phone"> <%= f.label :phone %></label>
                     <input type="phone" class="form-control" id="phone" placeholder="">
                  </div>
               </div>
               <div class="col-md-6" style="margin-bottom: 60px;"></div>
               <div class="col-md-12" style="margin-bottom: 20px;">
                  <div class="message">
                     <div class="form-group-contact">
                        <label for="text"> <%= f.label :message %></label>
                        <input type="text" class="form-control" id="text" placeholder="">
                     </div>
                  </div>
               </div>
               <br>
               <div class="form-group-btn col-md-12">
                  <button type="submit" class="btn-c "> Send </button>
                  <button type="reset" class="inf-btn "> Clear </button>
               </div>
            </div>
         </div>
         <% end %>
      </div>
   </div>
</div>