<% if !@order_product.nil? && @order_product.errors.any? %>
<div class="alert alert-danger" >
   <ul>
      <% @order_product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
   </ul>
</div>
<% end %>
<% if @order_products.size == 0 %>
<p  class="text-center" style="min-height: 300px" >
   There are no products in your shopping cart.  Please <%= link_to "go back", root_path %> and add some products to your cart.
</p>
<% else %>
<div class="content">
   <div class="container">
      <h2>Shopping Cart</h2>
      <table id="cart" class="table  table-customize table-responsive">
         <thead>
            <tr>
               <th style="width:15%">Image</th>
               <th style="width:15%">Name</th>
               <th style="width:15%">Price</th>
               <th style="width:10%">Quantity</th>
               <th style="width:15%" class="text-center">Total</th>
               <th style="width:12%" class="text-center">Action</th>
            </tr>
         </thead>
         <tbody>
            <% @order_products.each do |order_product| %>
            <%= render 'carts/cart_row' , product: order_product.product,
               order_product: order_product, show_total: true %>
            <% end %>
         </tbody>
         <tfoot>
            <tr class="visible-xs">
               <td class="text-center"><strong>Total 1.99</strong></td>
            </tr>
            <tr>
               <td><a href="/products" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
               <td colspan="2" class="hidden-xs"></td>
               <td colspan="1" class="hidden-xs"></td>
               <td class="hidden-xs text-center"><strong><%= "Subtotal:  #{number_to_currency current_order.subtotal} " %></strong></td>
               <td>
                  <%= link_to "Checkout", new_order_path, class: "btn btn-success btn-block" %>
               </td>
            </tr>
         </tfoot>
      </table>
   </div>
</div>
<% end %>