<tr>
   <td colspan="6">
      <%= form_for(order_product, remote: true) do |f| %>
      <div>
         <table style="width: 100%">
            <tr style="width: 100%">
               <td style="width: 15%">
                  <div class="row">
                     <%= image_tag product.image.url(:thumb) %>
                  </div>
               </td>
               <td style="width: 15%">
                  <h4 class="nomargin" ><%= product.name %></h4>
               </td>
               <td data-th="Price" style="width: 15%">
                  <%= number_to_currency order_product.unit_price %>
               </td>
               <td data-th="Quantity" style="width: 10%">
                  <%= f.number_field :quantity, value: order_product.quantity.to_i, class: "form-control", min: 1 %>
                  <%= f.hidden_field :product_id, value: product.id %>
               </td>
               <td style="width: 15%" data-th="Subtotal" class="text-center"><%= number_to_currency order_product.total_price %>
               </td>
               <td style="width: 12%">
                  <div class="btn-group">
                     <%= f.submit "Update", class: "btn btn-primary" %>
                     <%= link_to "Delete", order_product, { data: { confirm: "Are you sure you wish to delete the product '#{order_product.product.name}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger" } %>
                  </div>
               </td>
            </tr>
         </table>
      </div>
      <% end %>
   </td>
</tr>