<div class="navigation">
   <nav class="navba navbar-default">
      <div class="navbar-header">
         <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>            
      </div>
      <div class="collapse navbar-collapse js-navbar-collapse">
         <div class="col-md-1"></div>
         <div class="col-md-5">
            <ul class="nav navbar-nav"  style="margin-top: 10px">
               <li><%= link_to "HOME", home_path() %></li>
               <li class="dropdown mega-dropdown">
                  <%= link_to "PRODUCT", products_path() %>
                  <ul class="dropdown-menu mega-dropdown-menu">
                     <li class="col-sm-4">
                        <ul>
                           <li class="title-product">BRAND
                              <% @brand.each do |brand| %>
                           <li class="content-header"><%= link_to brand.name, products_path(brand_id: brand.id) %>
                           </li>
                           <% end %>
                           </li>
                        </ul>
                     </li>
                     <li class="col-sm-4">
                        <ul>
                           <li class="title-product">STYLE
                              <% @style.each do |style| %>
                           <li class="content-header"><%= link_to style.name, products_path(style_id: style.id) %></li>
                           <% end %>
                           </li> 
                        </ul>
                     </li>
                     <li class="col-sm-4">
                        <ul>
                           <li class="title-product">COLLECTION
                              <% @collection.each do |collection| %>
                           <li class="content-header"><%= link_to collection.name, products_path(collection_id: collection.id) %></li>
                           <% end %>
                           </li>                       
                        </ul>
                     </li>
                  </ul>
               </li>
               <li> <%= link_to "DESIGN", designs_path() %> </li>
               <li><%= link_to "ABOUT", abouts_path() %></li>
               <li><a href="/contacts">CONTACT</a></li>
            </ul>
         </div>
         <div class="col-md-6" style="padding-right: 75px;">
            <ul class="nav navbar-nav navbar-right">
               <li><a href="/cart">
                  <i class="fa fa-shopping-cart fa-lg " ></i>
                  </a>
               </li>
               <li>
                  <a class="account" href="<%= new_user_session_path %>"><i class="fa fa-user fa-lg"></i></a>
               </li>
               <li>
                  <a href="javascript:void(0);" style="margin-top: 5px;">
                     <div class="search_form" >
                        <%= form_tag(products_path, :method => "get", id: "search-form") do %>
                        <%= text_field_tag :search, params[:search], placeholder: "Search products" %>
                        <% end %>
                     </div>
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </nav>
</div>
<div class="container-help">
   <div class="col-md-3">
      <h3 class="title"><%= link_to "PRODUCT", products_path %></h3>
      <div class="sidebartotal">
         <div class="sidebar">
            <ul>
               <li class="filter-products">FILTER PRODUCTS</li>
               <li>BRAND
                  <% @brand.each do |brand| %>
               <li><%= link_to brand.name, products_path(brand_id: brand.id) %></li>
               <% end %>
               </li>
               <li>STYLE
                  <% @style.each do |style| %>
               <li><%= link_to style.name, products_path(style_id: style.id) %></li>
               <% end %>
               </li>     
            </ul>
         </div>
         <div class="sidebar-collection">
            <ul>
               <li>COLLECTION
                  <% @collection.each do |collection| %>
               <li><%= link_to collection.name, products_path(collection_id: collection.id) %></li>
               <% end %>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="col-md-8 content-help">
      <div class="panel panel-default">
         <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo"><b>Is the theme easy to install?</b></button>
         <div id="demo" class="collapse">
            Yes. Shopify themes are very easy to install. If you purchase from the Shopify Theme Store, it's as easy as one click after purchase. If you purchase from our website, it's still very easy. Here's a link to our website that describes the process. If you run into any issues, let us know and we'd be glad to panel panel-default you out.
         </div>
      </div>
      <div class="panel panel-default">
         <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2"><b>Do you provide support with the theme?</b></button>
         <div id="demo2" class="collapse">
            Yes, of course! We pride ourselves on providing fast, courteous support with our themes. If you have any issues, please just submit a support ticket and we'll get back to you as quickly as possible.
         </div>
      </div>
      <div class="panel panel-default">
         <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3"><b>Are theme customizations included with support?</b></button>
         <div id="demo3" class="collapse">
            If you require a basic customization that only requires a few minutes, we'd be happy to do it for you at no charge depending on the circumstances. However, if you require more substantial customization, please contact us with a detailed description of what you're looking for and we'll get back to you with a quote.
         </div>
      </div>
      <div class="panel panel-default">
         <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo4"><b>Does the theme support Shopify's variant images functionality?</b></button>
         <div id="demo4" class="collapse">
            Yes and many other recent features too! Check the theme features page for a full description.
         </div>
      </div>
      <div class="panel panel-default">
         <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo5"><b>Does this theme support Shopify's new one-page responsive checkout?</b></button>
         <div id="demo5" class="collapse">
            Yes.
         </div>
      </div>
      <div class="panel panel-default">
         <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo6"><b>Does this theme support Shopify's new translation feature?</b></button>
         <div id="demo6" class="collapse">
            Yes! Translations for English and French are included. This is also where you setup a lot of your heading text for things like sidebar widgets and other pages.
         </div>
      </div>
      <div class="panel panel-default">
         <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo7"><b>Are updates included in the price of the theme?</b></button>
         <div id="demo7" class="collapse">
            Yes. If you have purchased the theme, you can always download the latest version from your Shopify dashboard.
         </div>
      </div>
      <div class="panel panel-default">
         <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo8"><b>How do I update the theme?</b></button>
         <div id="demo8" class="collapse">
            If you purchased from the Shopify Theme Store, here is an article that describes how to update the theme. If you purchase from our site, please send in a support request and we can send you the latest version of the theme to your registered email address.
         </div>
      </div>
   </div>
</div>