<%= javascript_include_tag "special/home" %>
<%= javascript_include_tag "special/slider" %>
<div class="navigation">
   <nav class="navba navbar-default">
      <div class="navbar-header">
         <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>            
      </div>
      <div class="collapse navbar-collapse js-navbar-collapse">
         <div class="col-md-1"></div>
         <div class="col-md-5">
            <ul class="nav navbar-nav"  style="margin-top: 10px">
               <li><%= link_to "HOME", home_path(), class: "active" %></li>
               <li class="dropdown mega-dropdown">
                  <%= link_to "PRODUCT", products_path() %>
                  <ul class="dropdown-menu mega-dropdown-menu">
                     <li class="col-sm-4">
                        <ul>
                           <li class="title-product">BRAND
                              <% @brand.each do |brand| %>
                           <li class="content-header"><%= link_to brand.name, products_path(brand_id: brand.id) %>
                           </li>
                           <% end %>
                           </li>
                        </ul>
                     </li>
                     <li class="col-sm-4">
                        <ul>
                           <li class="title-product">STYLE
                              <% @style.each do |style| %>
                           <li class="content-header"><%= link_to style.name, products_path(style_id: style.id) %></li>
                           <% end %>
                           </li> 
                        </ul>
                     </li>
                     <li class="col-sm-4">
                        <ul>
                           <li class="title-product">COLLECTION
                              <% @collection.each do |collection| %>
                           <li class="content-header"><%= link_to collection.name, products_path(collection_id: collection.id) %></li>
                           <% end %>
                           </li>                       
                        </ul>
                     </li>
                  </ul>
               </li>
               <li> <%= link_to "DESIGN", designs_path() %> </li>
               <li><%= link_to "ABOUT", abouts_path() %></li>
               <li><a href="/contacts">CONTACT</a></li>
            </ul>
         </div>
         <div class="col-md-6" style="padding-right: 75px;">
            <ul class="nav navbar-nav navbar-right">
               <li><a href="/cart">
                  <i class="fa fa-shopping-cart fa-lg " ></i>
                  </a>
               </li>
               <li>
                  <a class="account" href="<%= new_user_session_path %>"><i class="fa fa-user fa-lg"></i></a>
               </li>
               <li>
                  <a href="javascript:void(0);" style="margin-top: 5px;">
                     <div class="search_form" >
                        <%= form_tag(products_path, :method => "get", id: "search-form") do %>
                        <%= text_field_tag :search, params[:search], placeholder: "Search products" %>
                        <% end %>
                     </div>
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </nav>
</div>
<body>
   <div class="slideshow">
      <div id="slider1_container" style="visibility: hidden; position: relative; margin: 0 auto; width: 1140px; height: 350px; overflow: hidden;">
         <div u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
               background-color: #000; top: 0px; left: 0px;width: 100%; height:100%;">
            </div>
         </div>
         <div u="slides" style="position: absolute; left: 0px; right: 0px; top: auto; width: 1140px; height: 350px;
            overflow: hidden;">
            <div>
               <img u="image" src="<%= asset_path('sli7.jpg')%>" >
            </div>
            <div>
               <img u="image" src="<%= asset_path('sli3.jpg')%>" >
            </div>
            <div>
               <img u="image" src="<%= asset_path('sli2.jpg')%>" >
            </div>
         </div>
         <div u="navigator" class="jssorb05" style="bottom: 16px; right: 6px;">
            <div u="prototype"></div>
         </div>
         <span u="arrowleft" class="jssora11l" style="top: 123px; left: 8px;">
         </span>
         <span u="arrowright" class="jssora11r" style="top: 123px; right: 8px;">
         </span>
         <a style="display: none" href="http://www.jssor.com">Bootstrap Carousel</a>
      </div>
   </div>
   <div class="featured">
      <div class="container" >
         <div class="row" >
            <div class="span12" >
               <div class="wellproduct" >
                  <hr>
                  <h3> New Products</h3>
                  <hr>
                  <div class="col-md-12">
                     <% @products.each do |product| %>
                     <div class="col-md-2 new-product">
                        <div class="img-product">
                           <%= link_to (image_tag product.image.url), product_path(product, pre_product_id: product.id) %>
                        </div>
                        <br>
                        <div class="information"> 
                           <%= link_to product.name, product_path(product, pre_product_id: product.id) %></a>
                           <br>
                           <%= number_to_currency product.price %> 
                        </div>
                        <br>
                     </div>
                     <% end %>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <section class="wrapper">
      <div class="container-big">
         <div class="content-collection">
            <div class="container" style=" background-color: #ebe5e2;">
               <hr>
               <h3 class="h3"> Collections</h3>
               <hr>
               <div class="row" style="padding-top: 20px;">
                  <div class="col-xs-12 col-sm-4">
                     <div class="carbox">
                        <a class="img-carbox">
                        <img src="<%= asset_path('m1.jpg')%>" >
                        </a>
                        <div class="carbox-content">
                           <h5 class="carbox-title">
                              <h5><b>BED ROOM</b></h5>
                           </h5>
                           <p>
                              List Procduct Of BedRoom
                           </p>
                        </div>
                        <div class="carbox-read-more">
                           <%= link_to "View More", products_path(collection_id: 1) %>
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-4">
                     <div class="carbox">
                        <a class="img-carbox">
                        <img src="<%= asset_path('m2.jpg')%>">
                        </a>
                        <div class="carbox-content">
                           <h5 class="carbox-title">
                              <h5><b>LIVING ROOM </b></h5>
                           </h5>
                           <p class="">
                              List Product Of LiVing Room
                           </p>
                        </div>
                        <div class="carbox-read-more">
                           <%= link_to "View More", products_path(collection_id: 2) %>
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-4">
                     <div class="carbox">
                        <a class="img-carbox" > 
                        <img src="<%= asset_path('m3.jpg')%>"/>
                        </a>
                        <div class="carbox-content">
                           <h5 class="carbox-title">
                              <h5><b> DINING ROOM </b></h5>
                           </h5>
                           <p>
                              List Procduct Of Dining Room
                           </p>
                        </div>
                        <div class="carbox-read-more">
                           <%= link_to "View More", products_path(collection_id: 3) %>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--  <div class="footer-top">
      <div class="container">
         <div class="col-md-3" style="border-right: 1px solid #E8E8E8;">
            <div class="col-md-9">
               <p><b>FREE DELIVERY</b></p>
               <p><b>NATIONWIDE </b><span class="fa fa-arrow-circle-right"></span></p>
            </div>
            <div class="col-md-3"> <span class="fa fa-truck fa-3x"></span></div>
         </div>
         <div class="col-md-3" style="border-right: 1px solid #E8E8E8;">
            <div class="col-md-9">
               <p><b>WE CAN INSTALL FOR</b></p>
               <p><b>YOU </b><span class="fa fa-arrow-circle-right"></span></p>
            </div>
            <div class="col-md-3"><span class="fa fa-wrench fa-3x"></span></div>
         </div>
         <div class="col-md-3" style="border-right: 1px solid #E8E8E8;">
            <div class="col-md-9">
               <p><b>FAST DELIVERY TO</b></p>
               <p><b>YOUR DOOR </b><span class="fa fa-arrow-circle-right"></span></p>
            </div>
            <div class="col-md-3"><span class="fa fa-clock-o fa-3x"></span></div>
         </div>
         <div class="col-md-3">
            <div class="col-md-9">
               <p><b>QUICK AND EASY</b></p>
               <p><b>RETURNS </b><span class="fa fa-arrow-circle-right"></span></p>
            </div>
            <div class="col-md-3"><span class="fa fa-refresh fa-3x"></span></div>
         </div>
      </div>
      </div> -->
</body>