.body-about {
    overflow: hidden;
    width: 100%;
    height: auto;
    background-color: #ebe5e2;
}
.content-about {
    width: 938px;
    margin-top: 73px;
    margin-left: 55px;
    padding: 40px;
    padding-right: 10px;
    color: #898989;
    border: 1px solid white;
    border-radius: 7px;
    background-color: white;
}
.title-about {
    width: 200px;
}
.title-about .title {
    width: 150px;
    font-size: 24px;
}
.title-about .title a {
    font-size: 24px;
}
.content-about p {
    font-size: 14px;
}
.content-about ul li {
    font-size: 14px;
}
.sidebartotal {
    width: 250px;
    margin-left: 20px;
    color: black;
}
.sidebar {
    margin-top: 30px;
    margin-left: 5px;
    text-decoration: none;
    border: 1px;
    border-radius: 5px;
    background-color: white;
}
.sidebar ul {
    padding: 0;
    list-style-type: none;
}
.sidebar ul li {
    line-height: 30px;
    width: auto;
    height: 40px;
    padding: 0 1em;
    color: blue;
}
.name-category {
    color: #a52a2a;
}
.sidebar ul li a {
    /*font-weight: bold;*/
    
    display: block;
    margin-left: 5px;
    text-decoration: none;
    color: #898989;
}
.sidebar ul .content-id:hover {
    background-color: #36c;
}
.sidebar ul li a:hover {
    color: #eee8aa;
}
.sidebar-collection {
    margin-top: 27px;
    margin-left: 5px;
    border: 1px;
    border-radius: 5px;
    background-color: white;
}
.sidebar-collection ul {
    padding: 0;
    list-style-type: none;
}
.sidebar-collection ul li {
    line-height: 30px;
    width: auto;
    height: 40px;
    padding: 0 1em;
    color: blue;
}
.sidebar-collection ul li a {
    /*font-weight: bold;*/
    
    display: block;
    text-decoration: none;
    color: #898989;
}
.sidebar-collection ul .content-id:hover {
    background-color: #36c;
}
.sidebar-collection ul li a:hover {
    color: #eee8aa;
}