.footer-top span {
  color: #abbda5;
}

.featured {
  background-color: #ebe5e2;
}

.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}

@media screen and (max-width: 1280px) {
  table#cart tbody td .form-control {
    display: inline !important;

    width: 20%;
  }

  .actions .btn {
    width: auto;
    margin-right: 2px;
  }

  .actions .btn-info {
    float: center;
  }

  .actions .btn-danger {
    float: center;
  }

  table#cart thead {
    display: none;
  }

  table#cart tbody td {
    display: block;

    min-width: 320px;
    padding: .6rem;
  }

  table#cart tbody tr td:first-child {
    color: #fff;
    background: #333;
  }

  table#cart tbody td:before {
    font-weight: bold;

    display: inline-block;

    width: 8rem;

    content: attr(data-th);
  }

  table#cart tfoot td {
    display: block;
  }

  table#cart tfoot td .btn {
    display: block;
  }
}

.content {
  min-height: 550px;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: #ebe5e2;
}

.content .container {
  height: auto;

  background-color: white;
}

@media (min-width: 320px) and (max-width: 767px) {
  .table-responsive,
  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive th,
  .table-responsive td,
  .table-responsive tr,
  .table-responsive tfoot {
    display: block;
  }
}

#quantity {
  width: 100%;
  height: auto;
}
