.information-contact {
  margin-top: 15px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  border-radius: 10px;
  background-color: white;;
}

body {
  color: black;
  background: #ebe5e2 ;
}

.contact {
  margin-top: 15px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 45px;
  padding-left: 20px;

  color: #898989 ;
  border-radius: 10px;
  background-color: white;
}

.information-contact p {
  font-size: 14px;
  line-height: 21px;

  margin-bottom: 10px;

  color: #898989 ;
}
.information-contact hr {
  margin-top: 5px;
}

.information-contact li {
  font-size: 14px;
  line-height: 21px;

  margin-bottom: 10px;

  color: #898989 ;
}
.contact hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-group-contact input {
  font-size: 14px;

  display: block;

  width: 100%;
  height: 30px;

  color: #898989 ;
  border: 1px solid #d7dbdb ;
  border-radius: 15px;
}.form-group-contact label {
  margin-top: 5px;
}

.contact b {
  color: black;
}

.contatc-p p {
  font-size: 24px;

  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 20px;
  padding-top: 26px;

  color: #282827 ;
}

.map iframe {
  width: 87%;
  height: 400px;
  margin-left: 86px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  border: none;
  border-radius: 10px;
  background-color: white;
}

.message .form-group-contact input {
  font-size: 14px;

  display: block;

  width: 100%;
  height: 90px;

  color: #898989 ;
  border-radius: 5px;
}

.container-contact {
  height: 600px;

  background-color: #ebe5e2 ;
}

.content-contact {
  background-color: #ebe5e2 ;
}

.form-group button {
  margin-top: 15px;
}



.btn-c {
  font-size: 14px;
  font-weight: 700;

  height: 40px;
  margin: 30px auto 0;
  padding: 0 20px;

  text-align: center;

  color: #fff ;
  border: none;
  border-radius: 18px;
  background: #abbda5 ;
}

.inf-btn {
  font-size: 14px;
  font-weight: 700;

  width: auto;
  height: 40px;
  margin: 0 0 0 10px;
  padding: 0 20px;

  text-align: center;

  color: #fff ;
  border: none;
  border-radius: 18px;
  background: #70635d ;
}
