.body-design {
  overflow: hidden;

  width: 100%;
  height: auto;

  background-color: #ebe5e2;
}

.body-design .design {
  width: 30%;
  height: 250px;
  margin: 15px;
  margin-top: 10px;

  text-align: center;

  border: 1px ;
  border-radius: 7px;
  background-color: white;
}

.body-design .design img {
  max-width: 100%;
  height: 200px;
  margin-top: 10px;

  text-align: center;

  background-size: 100% 100%;
}

.title-design b {
  margin-top: 10px;

  text-decoration: none;

  color: #898989;
}

.title-design b:hover {
  color: #00c;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
}

.img-design img {
  opacity: .7;
}

.img-design img:hover {
  opacity: 1.4;
}
/*.img-design img:hover {
  -webkit-transition: all .5s;
     -moz-transition: all .5s;
      -ms-transition: all .5s;
       -o-transition: all .5s;
          transition: all .5s;
  -webkit-transform: scale(1.2, 1.0);
     -moz-transform: scale(1.2, 1.0);
      -ms-transform: scale(1.2, .8);
       -o-transform: scale(1.2, .8);
          transform: scale(1.2, .8);
}
*/
.filter-designs {
  font-weight: bold;

  text-align: center;

  color: #a0522d;
}

.title {
  text-decoration: none;
}

.main-design img {
  width: 800px;
  height: 400px;
  margin-top: 10px;
  margin-bottom: 10px;

  text-align: center;

  background-size: 100% 100%;
}
