
@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    -webkit-transition: 500ms ease-in-out left;
    -webkit-transition: 500ms ease-in-out all;
            transition: 500ms ease-in-out left;
            transition: 500ms ease-in-out all;
    -webkit-transform: none!important;
            transform: none!important;

    -webkit-backface-visibility: visible;
            backface-visibility: visible;
  }
}

.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
  background-image: none;
}

.content-details h2 {
  font-size: 18px;

  margin-top: 0;
}

.image img {
  width: 100%;

  border-radius: 2px;
}

.conten-details .details-container .product hr {
  margin-top: 10px;
}

.content-details {
  width: 100%;
  padding: 0;

  background-color: #ebe5e2;
}

.quantity {
  width: 100%;
  height: 34px;
  margin-top: 10px;

  text-align: center;
}

.image {
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;

  border-radius: 20px;
  background-color: white;
}

.product-detail {
  margin-top: 90px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;

  border-radius: 20px;
  background-color: white;
}

.details-row {
  width: 100%;
  height: 300px;
}

.page {
  font-size: 20px;

  color: #898989;
}

.content-details .page p {
  font-size: 16px;

  min-height: 280px;
  padding-bottom: 100px;
}

.name-product-details {
  padding-top: 15px;
  padding-left: 12px;
}

.details-row img {
  width: 350px;
  height: 200px;
  margin-top: 40px;
  margin-bottom: 10px;

  border: 5px solid #fff;
  border-radius: 5px;
}

.details-container .details-row a {
  font-size: 17px;

  margin: 30px;
}

.details-container .details-row p {
  font-size: 17px;

  margin-top: 5px;
  margin-left: 30px;

  color: black;
}

.b-details {
  font-size: 22px;

  margin-left: 40px;
}

.name-detail {
  font-size: 22px;

  height: 40px;
  margin-top: 18%;
  margin-left: 4%;
}

.col-md-6 .product {
  margin-top: 52px;

  border-radius: 2%;
  background-color: white;
}

.name-details {
  width: 100%;
}

.col-md-12 {
  margin-left: 1%;
}

.details-container p {
  font-size: 18px;

  margin-top: 30px;
  margin-bottom: 40px;

  color: inherit;
}

.containaer p {
  font-size: 20px;

  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.containaer .col-md-4 button {
  font-size: 16px;

  display: inline-block;

  margin: 4px 2px;
  margin-top: 10px;

  text-align: center;

  color: gray;
  border: none;
}

.layout-details {
  height: 50px;
  margin-bottom: 10px;
}

.details-container {
  width: 100%;
  height: 560px;
}

.carousel-inner .active.left {
  left: -33%;
}

.carousel-inner .next {
  left: 33%;
}

.carousel-inner .prev {
  left: -33%;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.item:not(.prev) {
  visibility: visible;
}

.item.right:not(.prev) {
  visibility: hidden;
}

.rightest {
  visibility: visible;
}
