.container-help {
  overflow: hidden;

  width: 100%;
  height: auto;

  background-color: #ebe5e2;
}

.content-help {
  width: 938px;
  margin-top: 75px;
  margin-bottom: 30px;
  margin-left: 55px;
  padding: 40px;
  padding-right: 10px;

  color: #898989;
  border: 1px solid white;
  border-radius: 7px;
  background-color: white;
}

.content-help button {
  width: 100%;

  text-align: left;

  color: #abbda5;
  border: none;
  background-color: #f5f5f5;
}

.content-help .collapse {
  padding: 10px;

  color: #898989;
  border: 2px solid #ebe5e2;
}

.panel-default {
  padding: 10px;
}
