body {
  width: 100%;
  height: 100%;
  min-height: auto;
}

.slider1_container {
  overflow: hidden;

  width: 100%;
}

.left.carousel-control {
  right: 30px;
  left: inherit;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  line-height: 30px;

  color: #333;
  border: 1px solid #ddd;
  background-color: #fff;
  text-shadow: none;
}

.nav ul {
  background-color: rgb(235, 229, 226);
}

.container .col-xs-6 {
  width: 100%;
}

.featured {
  width: 100%;
}

.container {
  width: 100%;
}

.search_form input[type=text] {
  font-size: 12px;

  width: 180px;
  min-height: 28px;
  margin-right: 20px;
  padding: 4px 20px 4px 8px;

  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;

  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.slideshow {
  width: 100%;
  height: auto;

  background-color: #ebe5e2;
}

.carousel-inner.onebyone-carosel {
  width: 90%;
  margin: auto;
}

.onebyone-carosel .active.left {
  left: -25.00%;
}

.onebyone-carosel .active.right {
  left: 25.00%;
}

.onebyone-carosel .next {
  left: 25.00%;
}

.onebyone-carosel .prev {
  left: -25.00%;
}

.right.carousel-control {
  width: 1px;
  height: 1px;
}

.carousel-control.left {
  width: 1px;
  height: 1px;
}

.wellproduct {
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.content-collection {
  background-color: #ebe5e2;
  /*margin-bottom: 25px;*/
}

.wrapper {
  display: table;

  width: 100%;
  height: 100%;
}

h1.heading {
  font-size: 1.15em;
  font-weight: 900;

  margin: 0 0 .5em;

  color: #fff;
  color: #505050;
}

@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}

@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}

@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;

    margin: 0 0 .3em;
  }
}

.carbox {
  line-height: 1.42857143;

  display: block;

  margin-bottom: 20px;

  transition: box-shadow .25s;

  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.carbox-content p {
  font-size: 14px;
}

.carbox:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}

.img-carbox {
  display: block;
  overflow: hidden;

  width: 100%;
  height: 200px;

  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.img-carbox img {
  width: 100%;
  height: 200px;

  transition: all .25s ease;

  object-fit: cover;
}

.carbox-content {
  padding: 15px;

  text-align: left;
}

.carbox-title {
  font-size: 1.65em;
  font-weight: 700;

  margin-top: 0;
}

.carbox-title a {
  text-decoration: none !important;

  color: #000;
}

.carbox-read-more {
  border-top: 1px solid #d4d4d4;
}

.carbox-read-more a {
  font-weight: 600;

  padding: 10px;

  text-decoration: none !important;
  text-transform: uppercase;
}

.footer-top {
  border: 1px solid #e8e8e8;
}

.footer-top span {
  color: #abbda5;
}

.featured {
  background-color: #ebe5e2;
}

.new-product {
  border-right: 1px solid #fff;
}

.img-product img {
  width: 100%;

  opacity: .6;
}

.img-product img:hover {
  opacity: 1.4;
}

.information a {
  font-size: 12px !important;
}

.h3 {
  margin-left: 0;
}
