.field-payment {
  text-align: center;
}

.actions {
  text-align: center;
}

.field-payment input {
  width: 65%;
}

.payment {
  overflow: hidden;

  width: 100%;
  height: auto;

  background-color: #ebe5e2;
}

.payment-form {
  margin-bottom: 60px;

  text-align: center;

  border: solid 2px #ebccd1;
  border-radius: 7px;
  background-color: white;
}

.payment h3 {
  font-size: 22px;

  margin-left: 20px;

  color: #898989;
}

.field-payment label {
  font-size: 15px;
  line-height: 16px;

  padding-top: 10px;

  color: #898989;
}

.actions-payment {
  padding: 20px;
}

.actions-payment input {
  border-radius: 7px;
  background-color: #6ff;
}

.alert {
  margin-bottom: 0 !important;

  border-radius: 0 !important;
}
