body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;

  color: #333;
  background-color: #fff;
}

p,
ol,
ul,
td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  font-size: 11px;

  padding: 10px;

  background-color: #eee;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
  }
}

div {
  &.field,
  &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors input {
  width: 310%;
  height: 30px;
}

.field_with_errors {
  display: table;

  padding: 2px;
}

#error_explanation {
  width: 450px;
  margin-bottom: 20px;
  padding: 7px;
  padding-bottom: 0;

  color: #a94442;
  border: 2px solid #ebccd1;

  border_radius: 10px;
  h2 {
    font-size: 12px;
    font-weight: bold;

    margin: -7px;
    margin-bottom: 0;
    padding: 5px 5px 5px 15px;

    text-align: left;

    color: #a94442;
    background-color: #f2dede;
  }
  ul li {
    font-size: 12px;

    list-style: square;
  }
}
