<div class="col-md-4">
   <div class="product">
      <div class="img">
          <%= link_to (image_tag product.image.url(:medium)), product_path(product, pre_product_id: product.id) %>
      </div>
      <div class="information">
         <a class="header">
         <%= link_to product.name, product_path(product, pre_product_id: product.id) %></a>
         <br>
         <%= number_to_currency product.price %> 
         <br>
         <%= product.status%>
         <%= form_for order_product, remote: true do |f| %>
         <!-- <div class="input-group-btn" style="width: 10px; float: ">
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.submit "Add to Cart", class: "btn btn-primary" %>
            </div> -->
         <% end %>
      </div>
   </div>
</div>