<%= form_for order_product, remote: true do |f| %>
<div class="col-md-4">  
   <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
   <%= f.hidden_field :product_id, value: product.id %>
</div>
<div class="col-md-4">
   <div class="input-group-btn" style="width: 10px;">
      <div class="input-group-btn" style="width: 10px; float: ">
         <%= f.submit "Add to Cart", class: "btn btn-primary"%>
         
      </div>
   </div>
</div>
<% end %> 