<div class="navigation">
   <nav class="navba navbar-default">
      <div class="navbar-header">
         <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>            
      </div>
      <div class="collapse navbar-collapse js-navbar-collapse">
         <div class="col-md-1"></div>
         <div class="col-md-5">
            <ul class="nav navbar-nav"  style="margin-top: 10px">
               <li><%= link_to "HOME", home_path() %></li>
               <li class="dropdown mega-dropdown">
                  <%= link_to "PRODUCT", products_path() , class: "active"%>
                  <ul class="dropdown-menu mega-dropdown-menu">
                     <li class="col-sm-4">
                        <ul>
                           <li class="title-product">BRAND
                              <% @brand.each do |brand| %>
                           <li class="content-header"><%= link_to brand.name, products_path(brand_id: brand.id) %>
                           </li>
                           <% end %>
                           </li>
                        </ul>
                     </li>
                     <li class="col-sm-4">
                        <ul>
                           <li class="title-product">STYLE
                              <% @style.each do |style| %>
                           <li class="content-header"><%= link_to style.name, products_path(style_id: style.id) %></li>
                           <% end %>
                           </li> 
                        </ul>
                     </li>
                     <li class="col-sm-4">
                        <ul>
                           <li class="title-product">COLLECTION
                              <% @collection.each do |collection| %>
                           <li class="content-header"><%= link_to collection.name, products_path(collection_id: collection.id) %></li>
                           <% end %>
                           </li>                       
                        </ul>
                     </li>
                  </ul>
               </li>
               <li> <%= link_to "DESIGN", designs_path() %> </li>
               <li><%= link_to "ABOUT", abouts_path() %></li>
               <li><a href="/contacts">CONTACT</a></li>
            </ul>
         </div>
         <div class="col-md-6" style="padding-right: 75px;">
            <ul class="nav navbar-nav navbar-right">
               <li><a href="/cart">
                  <i class="fa fa-shopping-cart fa-lg " ></i>
                  </a>
               </li>
               <li>
                  <a class="account" href="<%= new_user_session_path %>"><i class="fa fa-user fa-lg"></i></a>
               </li>
               <li>
                  <a href="javascript:void(0);" style="margin-top: 5px;">
                     <div class="search_form" >
                        <%= form_tag(products_path, :method => "get", id: "search-form") do %>
                        <%= text_field_tag :search, params[:search], placeholder: "Search products" %>
                        <% end %>
                     </div>
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </nav>
</div>
<div class ="main">
   <div class="body container-fluid">
      <div class="col-md-3">
         <h3 class="title"><%= link_to "PRODUCT", products_path %></h3>
         <div class="sidebartotal">
            <div class="sidebar">
               <ul class="">
                  <li class="filter-products">FILTER PRODUCTS</li>
                  <li>BRAND</li>
                     <% @brand.each do |brand| %>
                  <li class="content-id"><%= link_to brand.name, products_path(brand_id: brand.id) %>
                  </li>
                  <% end %>
                  <li>STYLE </li> 
                     <% @style.each do |style| %>
                  <li class="content-id"><%= link_to style.name, products_path(style_id: style.id) %></li>
                  <% end %>
               </ul>
            </div>
            <div class="sidebar-collection">
               <ul>
                  <li>COLLECTION </li>
                     <% @collection.each do |collection| %>
                  <li class="content-id"><%= link_to collection.name, products_path(collection_id: collection.id) %></li>
                  <% end %>
               </ul>
            </div>
         </div>
      </div>
      <div class="col-md-9 content">
         <% @products.each do |product| %>
         <%= render "product_row", product: product, order_product: @order_product %>
         <% end %>
      </div>
      <div class="next-page">
         <%= paginate @products, theme: 'twitter-bootstrap-3' %>
      </div>
   </div>
</div>