<%= javascript_include_tag "special/details-product"%>
<div class="navigation">
   <nav class="navba navbar-default">
      <div class="navbar-header">
         <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>            
      </div>
      <div class="collapse navbar-collapse js-navbar-collapse">
         <div class="col-md-1"></div>
         <div class="col-md-5">
            <ul class="nav navbar-nav"  style="margin-top: 10px">
               <li><%= link_to "HOME", home_path() %></li>
               <li class="dropdown mega-dropdown">
                  <%= link_to "PRODUCT", products_path() %>
                  <ul class="dropdown-menu mega-dropdown-menu">
                     <li class="col-sm-4">
                        <ul>
                           <li class="title-product">BRAND
                              <% @brand.each do |brand| %>
                           <li class="content-header"><%= link_to brand.name, products_path(brand_id: brand.id) %>
                           </li>
                           <% end %>
                           </li>
                        </ul>
                     </li>
                     <li class="col-sm-4">
                        <ul>
                           <li class="title-product">STYLE
                              <% @style.each do |style| %>
                           <li class="content-header"><%= link_to style.name, products_path(style_id: style.id) %></li>
                           <% end %>
                           </li> 
                        </ul>
                     </li>
                     <li class="col-sm-4">
                        <ul>
                           <li class="title-product">COLLECTION
                              <% @collection.each do |collection| %>
                           <li class="content-header"><%= link_to collection.name, products_path(collection_id: collection.id) %></li>
                           <% end %>
                           </li>                       
                        </ul>
                     </li>
                  </ul>
               </li>
               <li> <%= link_to "DESIGN", designs_path() %> </li>
               <li><%= link_to "ABOUT", abouts_path() %></li>
               <li><a href="/contacts">CONTACT</a></li>
            </ul>
         </div>
         <div class="col-md-6" style="padding-right: 75px;">
            <ul class="nav navbar-nav navbar-right">
               <li><a href="/cart">
                  <i class="fa fa-shopping-cart fa-lg " ></i>
                  </a>
               </li>
               <li>
                  <a class="account" href="<%= new_user_session_path %>"><i class="fa fa-user fa-lg"></i></a>
               </li>
               <li>
                  <a href="javascript:void(0);" style="margin-top: 5px;">
                     <div class="search_form" >
                        <%= form_tag(products_path, :method => "get", id: "search-form") do %>
                        <%= text_field_tag :search, params[:search], placeholder: "Search products" %>
                        <% end %>
                     </div>
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </nav>
</div>
<div class="content-details">
<div class="container">
   <div class="col-md-6">
      <p>
      <h3 class="name-details"><%= @product.name %></h3>
      </p>
      <div class="image">
         <%= image_tag @product.image.url(:large) %>
      </div>
   </div>
   <div class="col-md-6">
      <div class="product">
         <h2 class="name-product-details"> PRODUCT DESCRIPTION </h2>
         <hr>
         <div class="containaer">
            <div class="col-md-4">
               <p>
                  $<%= @product.price %>
               </p>
            </div>
            <div class="col-md-8">
               <% product = @products.find_by(id: params[:id]) %>
               <%= render "product_details", product: product, order_product: @order_product %>
            </div>
            </br>
            </br>
            </br>
            </br>
            <div class ="page">
               <p>
                  <%= @product.description %>
               </p>
            </div>
         </div>
      </div>
   </div>
   <div class ="name">
      <h1>Related Product</h1>
   </div>
   <div class="row">
      <div class="container">
         <div class="col-md-12">
            <div class="carousel slide" id="myCarousel">
               <div class="carousel-inner">
                  <div class="item active">
                     <% @hot_products.each do |hot_product| %>
                     <div class="col-lg-2 col-xs-2 col-md-2 col-sm-2" style="width: 20%">
                        <div class="img-product">
                           <%= link_to (image_tag hot_product.image.url(:medium)),
                              product_path(hot_product,pre_product_id: product.id) %>
                        </div>
                        <a href=""><%= hot_product.name %> </a>
                        <br>
                        <b>
                           <p><%= hot_product.price %></p>
                        </b>
                     </div>
                     <% end %>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>