<% if @order.errors.any? || @order_product.errors.any? %>
alert("not valid.")
<% else %>
  $(".cart-text").html("<%= escape_javascript(render 'layouts/cart_text') %>")
<% end %>
$(document).ready(ready)
$(document).on('page:load', ready)