<div class="content">
   <div class="container">
      <h2>Shopping Cart</h2>
      <table id="cart" class="table  table-customize table-responsive">
         <thead>
            <tr>
               <th style="width:15%">Image</th>
               <th style="width:15%">Name</th>
               <th style="width:15%">Price</th>
               <th style="width:10%">Quantity</th>
               <th style="width:15%" class="text-center">Total</th>
               <th style="width:12%" class="text-center">Action</th>
            </tr>
         </thead>
         <tbody>
            <%= render 'order_products/payment_row'%>
         </tbody>
         <tfoot>
            <tr class="visible-xs">
               <td class="text-center"><strong>Total 1.99</strong></td>
            </tr>
            <tr>
               <td><a href="/home" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
               <td colspan="2" class="hidden-xs"></td>
               <td colspan="1" class="hidden-xs"></td>
               <td class="hidden-xs text-center"><strong><%= "Subtotal:  #{number_to_currency current_order.subtotal} " %></strong></td>
               <td><a href="/payment" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a>
               </td>
            </tr>
         </tfoot>
      </table>
   </div>
</div>
<div class="formpayment">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <h2>Customer Information</h2>
            <form class="form-horizontal">
            <fieldset>
            <!-- Form Name -->
            <!-- Text input-->
            <div class="form-group">
               <label class="col-md-4 control-label" for="textinput">Name</label>  
               <div class="col-md-4">
                  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
               </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
               <label class="col-md-4 control-label" for="Country">Address</label>  
               <div class="col-md-4">
                  <input id="Country" name="Country" type="text" placeholder="" class="form-control input-md">
               </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
               <label class="col-md-4 control-label" for="AddressLine1">Email</label>  
               <div class="col-md-4">
                  <input id="AddressLine1" name="AddressLine1" type="text" placeholder="" class="form-control input-md" required="">
               </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
               <label class="col-md-4 control-label" for="AddressLine2">Phone</label>  
               <div class="col-md-4">
                  <input id="AddressLine2" name="AddressLine2" type="text" placeholder="" class="form-control input-md">
               </div>
            </div>
            <td>
               <a href="" class="btn btn-success btn-block" style="width: 20%">Place Order</a>
            </td>
         </div>
      </div>
   </div>
</div>