<div class="header_top">
   <div class="container">
      <div class="col-md-12" >
         <div class="logo">
            <a href="/home"><img src="<%= asset_path('logo_550x.png') %>"></a>
         </div>
         <div class="hed_right">
            <ul>
               <li><a href="/helps"  style="color: #8a756b;">Help</a>
               </li>
               <li><a href="/contacts" style="color: #8a756b;">Contact</a>
               </li>
               <li><a href="/account" style="color: #8a756b;">
                  <% if current_user %>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                  <% else %>
                  <%= link_to "My Account", new_user_session_path %>
                  <% end %></a>
               </li>
            </ul>
            <div class="header-contact">
               <ul>
                  <li>
                     <span class="fa fa-phone" style="color: #abbda5">  </span> 0111.222.333
                  </li>
                  <li>
                     <span class="fa fa-envelope"  style="color: #abbda5"></span> email@example.com
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
